/* reset */
body, h1,h2,h3,h4,h5,h6 , ul , li{
    padding: 0px;
    margin: 0px;
    

}

.bg-main{
    background-color: linen-gradinet(75deg, #4f1bc5, #7b17c5);
    background-color:#4f1bc5 ;
}

.box{
    padding: 0px 15px;
}
@media screen and ( min-width: 768px){
    .w25{ width: 25%;}
    .w33{ width: 33.3%;}
    .w40{ width: 40%;}
    .w50{ width: 50%;}
    .w60{ width: 60%;}
    .container{ width: 1200px; margin: 0 auto;}
    .left{ float: left;}
    .right{ float: right;}
    .clear{ clear: both;}
}
@media screen and  ( max-width: 767px){
    .container{ width: 100%;}
    .md100 { width: 100%;}
    .md50{ width: 50%;}
    .md33{ width: 33.3% ;}
    .md25 { width: 25%;}
    .left{ float: left;}
    .right{ float: right;}
    .clear{ clear: both;}
    #slider img{ width: 100%;}
}
    



#logo img{
    margin: 15px;
    width: 200px;
}
.nav ul{
    margin-top: 15px;
}
.nav ul li {
    list-style-type: none;
    float: left;
    padding: 10px 15px;
}
.nav ul li a{
    color: white ; font-size: 18px; font-weight: 500; text-decoration: none;
}    

.slider-content-text{
    padding-top: 50px;
    color: white;
}
.slider-content-text .title{
    font-size: 50px;
}
.slider-content-text p{
    font-size: 20px;
}
.slider-content-text .download{
    background-color: rgb(202, 8, 128);
    border-radius: 50px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-width: 1px;
}
.slider-content-text .watchnow{
    border-radius: 15px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-width: 1px;
    background-color: transparent;
    border: 0px;
}
#slider .container{
    background-image: url(hero-bottom-shape-2.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}
#news1{
    padding-top: 30px;
}
#news1 .box-content{
    box-shadow: 1px 2px 7px rgba(72, 72 , 72, 0.641);
    border-radius: 15px;
    padding:15px;
    font-size: 20px;
}

#news1 .box-content:hover{
    background-color: #4f1bc5 ;
    color: white;
    margin-top: -10px;
    transition: 100ms;
}
#news1.box{
    padding:15px
}
#news1 .fas{
    font-size: 30px;
}

#news4 .box{
    padding: 0px 15px;
}
#news4 .title{
    font-size: 40px;
    margin-top: 50px;
}
.text-center{
    text-align: center;
}
.margin-auto{
    margin: 0 auto!important;
}
.bottom-100{
    margin-bottom: 100px;
}
#news4 .box-icon{
    float: left;
    width: 20%;
    margin-top: 60px;
    color: #4f1bc5;
    font-size: 20px;
}
#news4 .box-content-text{
    float: left;
    width: 80%;
   
}
#news4 p{
    margin:0px; padding:10px 0px; font-size: 20px;
}
#news4 img{
    width: 100%
}
#our-process{
    margin-top: 30px;
    background-color: #dfdffd;
    padding-top: 30px;
}
.text-center{
    text-align: center;
}
#our-process .title{
    font-size: 40px;
}
#out-process p{
    font-size: 20px; max-width: 700px ; margin: 0 auto; line-height: 30px;
}
.img-our-process img{
    width: 100%;
}
.icon-our-process{
    max-width: 25%;
}
.icon-our-process div{
  
    background: white;
    text-align: center;
  
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.icon-our-process div .fas{
    font-size: 40px;
    color: red;
    margin-top: 30px;
}
.content-our-process{
    width: 75%;
}
.bottom-our-process{
    margin-bottom: 30px;
}
.text-right{
    text-align: right;
}
#top-footer{
    background: #4f1bc5;
    color: white

}
.newletter{
    background: #2b0486;
    border-radius: 15px;
    position: relative;
    top: -50px;
    padding-right: 15px;


}
.newletter .box{
    padding: 20px 50px;
}
.content-footer, .content-footer a{
    color: white;   
}
.newletter form{
    width: 300px;
    background: white;
    border-radius: 20px;
    padding: 10px 15px;
}
.newletter form input{
    width: 250px;
    border: 0px ;
    color: #4f1bc5;
}
.w33, li{
    list-style-type: none;
    margin: 0px;
}
.w33, h4{
font-size: 15px;
}

